*{
	font-family: helvetica, sans-serif;
	font size: 20px;
}

#externalP{
	color: yellow;
}

h1{
	font-size: 70px;
}

#h2Id{
	text-transform: uppercase;
}

.languagesList{
	background-color: lightgreen;
}

li[toolsList]{
	border: solid lightblue 1px;
}

img + ol{
	list-style-type: none;
}

div img{
	height: 100px;
	width: 100px;
	border-radius: 150px;
}

#othersDiv ~ p{
	text-align: center;
}

ol > .others{
	letter-spacing: 10px;
}